<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- If you delete this meta tag, the ground will open and swallow you. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>My Rewards Available This Week - Drop In</title>

</head>

<body bgcolor="#315389" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<!-- HEADER -->
<table class="head-wrap">
	<tr>
		<td class="header container" align="center">

			<!-- /content -->
			<div class="content">
				<table>
					<tr style="text-align: center;">
						<a href="http://joindropin.com/">
						  <img src="https://s3.amazonaws.com/joindropin.com/emails/dropin-logo.png" width="270">
						</a>
					</tr>
				</table>
			</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap" bgcolor="#315389">
	<tr>
		<td class="container" align="" bgcolor="">

			<!-- content -->
			<div class="content">
				<table>
					<tr>
						<td>
							<!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p> -->

							<!-- A Real Hero (and a real human being) -->
							<p><img src="{{heroImage}}"></p><!-- /hero -->
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> -->
						</td>
					</tr>
				</table>
			</div><!-- /content -->

			<!-- content -->
			<div class="content"><table bgcolor="">
				<tr>
					<td>

						<!-- Callout Panel -->
						<div class="callout">
							<h3 style="color: #222222; text-align: center;">What's New?</h3>
							<p style="text-align: center;">
								The holiday season is here. Open your app for a special reward from the Drop In team, $10 off your bill at <a href="https://www.facebook.com/VillagePourhouseHB/?fref=ts">Village Pourhouse</a> and <a href="https://www.facebook.com/farsidehoboken/?fref=ts">Farside Tavern</a>. Valid through Friday!
							</p>
							<p style="text-align: center; margin-bottom: 15px;">
								We are also happy to welcome <a href="https://www.facebook.com/TXArizona/?fref=ts">Texas Arizona</a> to the Drop In community! Grab your friends and #DropIn to one of Hoboken's hottest downtown happy hour spots. Earn a <strong>Complimentary Bud, Miller or Coors Light Draft Beer</strong> after every visit with your Drop In app!
							</p>
							<p class="visit-us" style="text-align: center; margin-top: 30px; margin-bottom: 0;">
								Visit us at
								<a href="http://joindropin.com">joindropin.com</a>
							</p>
						</div><!-- /callout panel -->

					</td>
				</tr>
			</table></div>
			<!-- /content -->

			<!-- content -->
			<h3 style="color: #222222; text-align: center;">My Rewards Available</h3>
			{{#group rewards by="barName"}}
				<div class="content">
					<table bgcolor="">
						<tr>
							<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="https://s3.amazonaws.com/joindropin.com/emails/logo-only-small.png" /></td>
							<td colspan="2"><h3 style="color: white; margin-bottom: 12px;">{{{value}}}</h3></td>
						</tr>
						{{#each items}}
							<tr>
								<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"></td>
								<td class="spacing">
									<h5 style="color: #FBE2B4; margin-bottom: 10px;">{{{rewardName}}}</h5>
									<p class="date muted">Start: {{startDate}}</p>
									<p class="date muted">Expires: {{endDate}}</p>
									<a href="https://ad.apps.fm/Sdl4-C31pm34o8GEAEPiL_E7og6fuV2oOMeOQdRqrE1SqZdlPe9ACpS8UfwDn7-uH0Gn4n60BpUqQ-44LeEQRoAKtqkwqbT0UjzyZp_KE0g" class="btn" style="margin-top: 12px;">Redeem &raquo;</a>
								</td>
							</tr>
						{{/each}}
					</table>
				</div>
			{{/group}}
			<!-- /content -->

			<!-- content -->
			{{#greaterThan rewardsEarned 0}}
				<div style="padding: 0 15px; max-width: 600px; margin: 0 auto; display: block;">
					<div class="content">
						<table bgcolor="">
							<tr>
								<td class="container" align="center">
									<!-- <p style="color: #dddddd; font-size: 16px; padding: 0 20px; line-height: 1.2;">Congratulations! You've earned these rewards from visiting <strong style="color: white; font-size: 20px;">{{rewardsEarned}} {{#greaterThan rewardsEarned 1}}bars{{else}}bar{{/greaterThan}}</strong> over the past week!</p> -->
									<p style="color: #dddddd; font-size: 16px; padding: 0 20px; line-height: 1.2;">
										Congrats! You've earned these rewards by connecting via Bluetooth when visiting our partner bars!
									</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
			{{/greaterThan}}
			<!-- /content -->

			<!-- Callout Panel -->
			<div class="content">
				<table bgcolor="">
					<tr>
						<td>

							<div class="callout">
								<h3 style="color: #222222; text-align: center;">Why am I receiving this email?</h3>
								<p style="text-align: center;">
									Each week, you will receive info on upcoming events and promotions, as well as a summary of rewards available to you based on your visits to Drop In partner bars. Plan your next night out with your friends to redeem!
								</p>
							</div>

						</td>
					</tr>
				</table>
			</div>
			<!-- /callout panel -->

			<!-- content -->
			<div class="content">
				<table bgcolor="">
					<tr>
						<td>

							<!-- social & contact -->
							<table bgcolor="" class="social" width="100%">
								<tr>
									<td>

										<!--- column 1 -->
										<div class="column">
											<table bgcolor="" cellpadding="" align="left">
										<tr>
											<td>

												<a href="https://instagram.com/joindropin/" class="social-link">
												  <img src="https://s3.amazonaws.com/joindropin.com/emails/instagram-icon.png" style="margin-right: 12px;" width="44" height="44" alt="">
												</a>
												<a href="https://www.facebook.com/pages/Join-Drop-In/1660687620817077" class="social-link">
												  <img src="https://s3.amazonaws.com/joindropin.com/emails/facebook-icon.png" style="margin-right: 12px;" width="44" height="44" alt="">
												</a>
												<a href="https://twitter.com/JoinDropIn" class="social-link">
												  <img src="https://s3.amazonaws.com/joindropin.com/emails/twitter-icon.png" width="44" height="44" alt="">
												</a>


											</td>
										</tr>
									</table><!-- /column 1 -->
										</div>

										<!--- column 2 -->
										<div class="column">
											<table bgcolor="" cellpadding="" align="left">
										<tr>
											<td>

												<!-- <h5 class="">Contact Info:</h5> -->
												<p>201 Ventures LLC<br/>
												Hoboken, NJ 07030<br/></p>
                <p>
									<strong><a href="mailto:hello@joindropin.com">hello@joindropin.com</a></strong>
								</p>

											</td>
										</tr>
									</table><!-- /column 2 -->
										</div>

										<div class="clear"></div>

									</td>
								</tr>
							</table><!-- /social & contact -->

						</td>
					</tr>
				</table>
			</div><!-- /content -->


		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
					<table>
						<tr>
							<td align="center">
								<p class="footer">
									<a href="http://joindropin.com">Joindropin.com</a>
									<a href="http://joindropin.com/terms.html">Terms</a>
									<a href="http://joindropin.com/privacy.html">Privacy</a>
									<a href="http://dropin-email.us-east-1.elasticbeanstalk.com/unsubscribe/{{email}}">Unsubscribe</a>
								</p>
							</td>
						</tr>
					</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
